# linting, formating, typing
isort==5.8.0
black==21.7b0
flake8==3.9.0
wemake-python-styleguide==0.15.2
mypy==0.812
data-science-types==0.2.23
darglint==1.7.0
# unit tests
pytest==6.2.2
pytest-cov==2.11.1
pytest-xdist==2.2.1
# requirements writing
pipreqs==0.4.10
# refactoring
rope==0.18.0
# precommit action
pre-commit==2.11.1
# code quality infos
radon==4.5.0

bandit==1.7.0
