loguru==0.5.3
# tensorflow==2.2.0
hydra_core==1.0.6
pandas==1.2.3
omegaconf==2.0.6
# numpy==1.19.2
hydra==2.5
PyYAML==5.4.1
scikit_learn==0.24.1
typer==0.3.2
mlflow==1.15.0
dvc==1.11.16
mkdocs==1.1.2
mkdocs-material==7.1.11
mkdocstrings==0.15.0
